<template name="about">
<body id="submitpostpage">
  <form class="main">

<ul class="vertical">
	<li>
		<h3> MarketPassion: Creating a more efficient marketplace for both applicants and recruiters.</h3>
	</li>
	<br>
	<li>
		<p> Applicants are limited to a maximum of 5 job applications for a 1.5 month period, and they must rank the companies they apply to. In return, if they receive an offer, they are committed to accepting the offer for a minimum of one year unless a higher ranking job on their list gives an offer before the end of the period.
		</p>

		<p> In turn, companies must hire at least one applicant for each job posting submitted within 1.5 months. Since applicants are limited to a small number of applications, recruiters have less applications to review. Furthermore, recruiters can safely assume that applicants are truly committed and passionate about the position they are applying to, reducing the costs of recruiting. 
		</p>

	</li>
</ul>
<ul class="costben">
<li>
</form>
<form class="main">
		<h4 class="listTitle">Cost-Benefit Analysis: Recruiters</h4>
		<div class="centeredLists">
		<ul><h6 class="noindent">Benefits:</h6>
			<li>Number of Applications is Reduced-less time required to parse through large stacks of applications.
			</li>
			<li>Quality of Applications Increases
			</li>
			<li>ROI on time invested in interviewing applicants increases.
			</li>
			<li>The need for and costs of reviewing heavy volumes of applications decreases.
			</li>
			<li>New hires are more quickly and easily acquired.
		</ul>
		<ul><h6 class="noindent">Costs:</h6>
			<li>Number of applications is reduced; less applicants potentially results in less choice and qualified applicants.
			</li>
			<li>Recruiters are required to hire at least one applicant in a specified time frame.
			</li>
			<li>Less flexibility
			</li>
		</ul>
</div>	
</form>
</li>
<br>
<li>
<form class="main">
		<h4 class="listTitle">Cost-Benefit Analysis: Applicants</h4>
		<div class="centeredLists">
		<ul><h6 class="noindent">Benefits:</h6>
			<li>Time spent filling out basic information or rewriting resumes in online forms is limited.
			</li>
			<li>Guaranteed decisions within 1.5 months.
			</li>
			<li>Only apply to the companies you truly want to work for and are most passionate about.
			</li>
			<li>Invest more time into the companies you're most committed to and passionate about.
			</li>
			
		</ul>
		<ul><h6 class="noindent">Costs:</h6>
			<li>Limited to only 5 applications, special care must be taken to ensure you apply only to your most preferred companies.
			</li>
			<li>Applicants run the risk of not being selected to any of their top 5 companies.
			</li>
			<li>To mitigate this risk, safety jobs for which applicants are perhaps overqualified for must be applied to.
			</li>
		</ul>
</div>	
</form>
</li>
</body>
</template>